@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
html, body {
    font-family: "Noto Sans KR", serif;;
}
.blind {
    position: absolute;
    width: 1px; height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0); /* absolute상태에서 좌표 */
    margin: -1px;
}
.ismobile{display: none;}
.ispctablet{display: block;}